@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Moonrocks&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Lato:wght@300&family=Poppins&family=Roboto&family=Rufina&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: pink;
    color: black;
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    width: 100%;
    margin: 30px auto;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.container1 {
    max-width: 1280px;
    padding: 0 20px;
    margin: 20px auto;
    border-radius: 10px;
}

.filter {
    margin-bottom: 16px;
}

.header {
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 25px 0;
    color: #000000;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(250, 226, 226, 0.806);
    padding: 20px 40px;
    border-radius: 10px;
}

.header_left {
    display: flex;
    column-gap: 40px;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}

.header_left a {
    display: inline;
    margin-left: 50px;
    cursor: pointer;
    transition: color 1000ms ease, opacity 1000ms ease;
    color: #000000;
}

.header_left a:hover {
    opacity: 1;
    color: red;
} 

.header_right {
    display: flex;
    column-gap: 5px;
    float: right;
    list-style: none;
    font-size: 20px;
}

.header_right a {
    display: inline;
    margin-left: 50px;
    cursor: pointer;
    transition: opacity 500ms ease;
    color: #000000;
}

.header_right a:hover {
    opacity: 0.5;
    color: #39151e;
}   

.table {
    display: block;
    background: rgb(255, 220, 220) !important;
    border-radius: 10px !important;
}
  
.table .ant-table-thead > tr > th {
    background: rgb(255, 220, 220) !important;
}

.table .ant-table-tbody > tr {
    background: rgba(250, 226, 226, 0.806) !important;
  }

.table .ant-table-tbody > tr:hover {
    background: rgba(250, 226, 226, 0.806) !important;
}

.filter1 {
    width: 200px;
    margin-right: 10px;
}

.custom-select .ant-select-selector {
    border-color: black !important; 
    color: black; 
  }
  
.custom-option.ant-select-item-option-selected {
    background-color:rgb(255, 220, 220) !important; 
    color: rgb(0, 0, 0) !important; 
}

.custom-option.ant-select-item-option-active {
    background-color: rgba(251, 237, 237, 0.722) !important; 
    color: rgb(0, 0, 0) !important; 
}

.custom-select .ant-select-arrow {
    color: black; 
}
  
.paddingend {
    color: #04050800;
    margin-top: 60px;
}
  
footer {
    text-align: center;
    margin-top: 80px;
}
